@import '~assets/scss/fonts.css';
@import '~assets/scss/header.css';
@import '~assets/scss/menu.css';
@import '~assets/scss/news.css';

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}