@import '~assets/scss/fonts.css';
@import '~assets/scss/header.css';
@import '~assets/scss/navigation_menu.css';

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.detail {
    display: flex;
    padding: 77px 90px;
}