.header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 77px;
    background-color: #242525;
    z-index: 1000;
}
.header-section {
    align-self: stretch;
}
.header-section.active {
    cursor: pointer;
    background-color: #1b1c1c;
    box-shadow: inset 6px 0px 6px -6px #161616, inset -6px 0px 6px -6px #161616;
}
.header-section__logo {
    width: 100%;
    margin-left: 28px;
}
.header-section__logo-text {
    letter-spacing: 0.68px;
    font-family: 'Montserrat-Regular'; 
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.header-section__share {
    position: relative;
    padding: 0px 28px;
    font-family: 'Montserrat-Bold'; 
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 77px;
    color: #fff;
}
.header-section__share-menu {
    position: absolute;
    box-sizing: border-box;
    top: 77px;
    right: 0px;
    width: 186px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.2);
    border: 1px solid #484848;
}
.header-section__search {
    box-sizing: content-box;
    padding: 0px 40px;
    background: center no-repeat url('assets/img/search_icon.png');
    border-right: 1px solid rgba(82, 82, 82, 0.2);
}
.header-section__login {
    padding: 40px;
    background: center no-repeat url('assets/img/user_icon.png');
}

.header-section__share-menu {
    position: absolute;
    visibility: hidden;
    box-sizing: border-box;
    top: 97px;
    right: 0px;
    width: 186px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.2);
    border: 1px solid #484848;
}

.header-section__share-menuitem {
    display: flex;
    width: 100%;
    align-items: center;
}

.header-section__share-menuitem--icon {
    display: block;
    width: 50px;
    height: 44px;
    border-right: 1px solid #e7e7e7;
}

.header-section__share-menuitem--text {
    padding-left: 17px;
    color: #323232;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.header-section__share-menuitem {
    height: 44px;
    border-bottom: 1px solid #e7e7e7;
}

.header-section__share-menuitem--icon.facebook {
    background: center no-repeat url('assets/img/facebook_icon.png');
}

.header-section__share-menuitem--icon.twitter {
    background: center no-repeat url('assets/img/twitter_icon.png');
}

.header-section__share-menuitem--icon.google {
    background: center no-repeat url('assets/img/google_icon.png');
}

.header-section__share-menuitem--icon.pinterest {
    background: center no-repeat url('assets/img/pinterest_icon.png');
}

.header-section__share:hover {
   cursor: pointer;
}

.header-section__share:hover > .header-section__share-menu {
    visibility: visible;
    top: 77px;
    transition: top 0.3s ease-in-out;
}