.navigation-menu {
    position: fixed;
    top: 77px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 68px;
    min-height: calc(100% - 70px);
    background-color: #fbfbfb;
    border: 1px solid #e7e7e7;
}

.navigation-menu__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation-menu__list-item {
    position: relative;
    width:100%;
    height: 68px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}

.navigation-menu__listitem-selected {
    position: absolute;
    left: -20px;
    height: 68px;
    width: 0px;
    background-color: #5692b1;
    visibility: hidden;
    transition: all 0.1s ease-out;
}

.navigation-menu__list-item .navigation-menu__listitem-selected::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
}

.navigation-menu__list-item:hover > .navigation-menu__listitem-selected  {
    visibility: visible;
    min-width: 135px;
    width: auto;
    left: -2px;
    transition: all 0.3s ease-in;
}

.navigation-menu__list-item:hover .navigation-menu__listitem-selected--text {
    visibility: visible;
}

.navigation-menu__listitem-selected--text {
    display: block;
    margin-left: 64px;
    margin-right: 23px;
    color: #fff;
    text-transform: uppercase;
    line-height: 68px;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    visibility: hidden;
}

.navigation-menu__list-item.graphic::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 18px;
    top: calc(50% - 8px);
    left: calc(50% - 11px);
    background:  url('assets/img/menu_icons.png') no-repeat 0px center;
}

.navigation-menu__list-item.music::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 18px;
    top: calc(50% - 8px);
    left: calc(50% - 9px);
    background:  url('assets/img/menu_icons.png') no-repeat -24px center;
}

.navigation-menu__list-item.photography::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 12px);
    background:  url('assets/img/menu_icons.png') no-repeat -42px center;
}

.navigation-menu__list-item.cinema::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 12px);
    background:  url('assets/img/menu_icons.png') no-repeat -64px center;
}

.navigation-menu__list-item.business::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 11px);
    background:  url('assets/img/menu_icons.png') no-repeat -86px center;
}

.navigation-menu__list-item.travel::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    background:  url('assets/img/menu_icons.png') no-repeat -108px center;
}

.navigation-menu__list-item.fashion::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    background:  url('assets/img/menu_icons.png') no-repeat -130px center;
}

.navigation-menu__list-item.more::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    background:  url('assets/img/menu_icons.png') no-repeat -154px center;
}

.navigation-menu__list-item.settings {
    background: center no-repeat url('assets/img/settings_icon.png');
}

.navigation-menu__list-item.graphic:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat 0px center;
}

.navigation-menu__list-item.music:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat -24px center;
}

.navigation-menu__list-item.photography:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat -42px center;
}

.navigation-menu__list-item.travel:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat -108px center;
}

.navigation-menu__list-item.fashion:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat -130px center;
}

.navigation-menu__list-item.business:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat -86px center;
}

.navigation-menu__list-item.cinema:hover::after {
    background:  url('assets/img/white_menu_icons.png') no-repeat -64px center;
}