.news {
    display: flex;
    padding: 77px 30px;
    margin-left: 40px;
}

.news-column {
    margin-left: 30px;
}

.news-card {
    position: relative;
    width: 470px;
    margin-top: 30px;
}

.news-card__image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.news-card__image--cover {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 0;
    height: 0;
    box-sizing: border-box;
    background: rgba(231,96,73, 0.7);
    visibility: hidden;
    border-bottom-right-radius: 100%;
    transition: all 0.1s ease-out;
    z-index: 10;
}

.news-card__readmore-button {
    visibility: hidden;
}

.news-card__image:hover > .news-card__image--cover {
    width: 100%;
    height: 100%;
    visibility: visible;
    cursor: pointer;
    border-bottom-right-radius: 0;
} 

.news-card__image:hover .news-card__readmore-button {
    visibility: visible;
}

.news-card__content {
    position: relative;
    padding: 24px 15px 22px 28px;
    box-shadow: inset 1px 0 0px #ebebeb, inset -1px 0 0 #ebebeb;
    border-bottom: 4px solid transparent;
}


.news-card__content::before {
    content: '';
    position: absolute;
    top: -24px;
    left: 44px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
}

.news-card__content--date, .news-card__content--comment {
    position: relative;
    padding-left: 4px;
    font-size: 12px;
    font-family: 'OpenSans-Semibold';
    letter-spacing: -0.02em;
    color: #9d9d9d;
}

.news-card__content--date {
    margin-left: 20px;
}

.news-card__content--comment {
    margin-left: 40px;
}

.news-card__content--date::before {
    content: url('assets/img/calendar_icon.png');
    position: absolute;
    top: 2px;
    left: -16px;
}

.news-card__content--comment::before {
    content: url('assets/img/comment_icon.png');
    position: absolute;
    top: 2px;
    left: -22px;
}

.news-card__content--title {
    margin-top: 16px;
    font-size: 26px;
    font-family: 'Montserrat-Bold';
    letter-spacing: -0.02em;
}

.news-card__content--text {
    margin-top: 10px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #626262;
    white-space: pre-line;
}

.news-card__readmore-button {
    display: block;
    position:absolute;
    width: 165px;
    height: 54px;
    padding: 0;
    padding-left: 82px;
    top: calc(50% - 28px);
    left: calc(50% - 126px);
    line-height: 54px;
    border: 4px solid #fff;
    background: transparent;
    color: #fff;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
}

.news-card__readmore-button::before {
    content: url('assets/img/arrowright-icon.png');
    position: absolute;
    left: 15px;
}

.news-card__readmore-button::after {
    position: absolute;
    content: '';
    left: 56px;
    top: -2px;
    width: 4px;
    height: calc(100% + 4px);
    background: #fff;
}

.teal-bottom__bordered {
    border-bottom-color: #2eb398;
}
.pink-bottom__bordered {
    border-bottom-color: #e76049;
}

.blue-bottom__bordered {
    border-bottom-color: #5692b1;
}

.grey-bottom__bordered {
    border-bottom-color: #90899c;
}

.azure-bottom__bordered {
    border-bottom-color: #14b9d6;
}

.news-card__adverb {
    width: auto;
    box-sizing: padding-box;
    padding: 4px;
    box-shadow: inset;
    border: 1px solid #ebebeb;
}