.news {
    display: flex;
    padding: 77px 30px;
    margin-left: 40px;
}

.news-column {
    margin-left: 30px;
}

.news-card {
    width: 470px;
    margin-top: 30px;
}

.news-card__image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.news-card__content {
    position: relative;
    padding: 24px 15px 22px 28px;
    box-shadow: inset 1px 0 0px #ebebeb, inset -1px 0 0 #ebebeb;
    border-bottom: 4px solid transparent;
}

.news-card__content::before {
    content: '';
    position: absolute;
    top: -24px;
    left: 44px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
}

.news-card__content--date, .news-card__content--comment {
    position: relative;
    padding-left: 4px;
    font-size: 12px;
    font-family: 'OpenSans-Semibold';
    letter-spacing: -0.02em;
    color: #9d9d9d;
}

.news-card__content--date {
    margin-left: 20px;
}

.news-card__content--comment {
    margin-left: 40px;
}

.news-card__content--date::before {
    content: url('assets/img/calendar_icon.png');
    position: absolute;
    top: 2px;
    left: -16px;
}

.news-card__content--comment::before {
    content: url('assets/img/comment_icon.png');
    position: absolute;
    top: 2px;
    left: -22px;
}

.news-card__content--title {
    margin-top: 16px;
    font-size: 26px;
    font-family: 'Montserrat-Bold';
    letter-spacing: -0.02em;
}

.news-card__content--text {
    margin-top: 10px;
    font-family: 'OpenSans';
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #626262;
}
.teal-bottom__bordered {
    border-bottom-color: #2eb398;
}
.pink-bottom__bordered {
    border-bottom-color: #e76049;
}

.blue-bottom__bordered {
    border-bottom-color: #5692b1;
}

.grey-bottom__bordered {
    border-bottom-color: #90899c;
}